body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}
button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
button:hover {
  background-color: #004792;
}

.hide {
  visibility: hidden;
}
.correct-ans {
  background-color: #28a745 !important;
  color: white !important;
}

.wrong-ans {
  background-color: #dc3545 !important;
  color: white !important;
}

#options button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  background-color: #a7a3a3;
  color: rgb(24, 23, 23);
}
#options button:hover {
  background-color: #d0d0d0;
}
